# dependencies
/node_modules

# testing
/coverage
/cypress/screenshots

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.nx
/.nx/cache
/.vscode/*
!/.vscode/extensions.json
.idea

npm-debug.log*

# Optional eslint cache
.eslintcache